@font-face{
  font-family: SegoeWP-Light;
  src: url('/fonts/SegoeWP-Light.woff');
}

html, body{
  height: 100%;
  font-family: SegoeWP-Light;
}

body{
  background-color: #000;
  color: #fff;
}

.panel{
  /* font-size: 1em; */
  box-sizing: border-box;
  border: 5px solid #000;
  float: left;
  /* line-height: 400%; */
}
